{
  "parserOptions": {
    "sourceType": "module"
  },
  "parser": "babel-eslint",
  "extends": "react",
  "env": {
    "browser": true,
    "node": true,
    "cypress/globals": true
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "indent": ["error", 2],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "cypress/no-assigning-return-values": "error",
    "cypress/no-unnecessary-waiting": "error",
    "cypress/assertion-before-screenshot": "warn",
    "no-unused-expressions": 0,
    "chai-friendly/no-unused-expressions": 2
  },
  "plugins": [
    "react-hooks",
    "cypress",
    "chai-friendly"
  ]
}
